/*General CSS*/
body {
  font-family: georgia;
}

/*Header*/
.container {
  max-width: 960px;
  margin: 0 auto;
}

.company {
  background-color: black;
  color: white;
}

.company .container {
  display: flex;
  align-items: center;
  padding: 11px 0 11px 8px;
}

.company img {
  height: 40px;
  padding-right: 16px;
}

/*Navigation Bar*/
nav {
  background-color: white;
  color: black;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  list-style: none;
}

nav ul li {
  font-size: 12pt;
}

.container a {
  text-decoration: none;
  color: darkblue;
}

.container a:hover {
  color: orchid;
}

/* Banner Image*/
.banner {
  background-image: url("file:///Users/Molli/Desktop/UMD_INST728J/0_Personal-Project/MolliUdis_PersonalProject/Studio/resources/images/thesiswalking.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Image CSS*/
.studio-box {
 max-width: 960px;
 margin: 0 auto;
 padding: 30px;
 text-decoration: none;
}

.studio-box h2 {
  padding: 20px;
  text-decoration: underline;
  text-decoration-color: white;
  color: darkblue;
}

.studio-box p {
  padding: 20px;
  text-decoration: underline;
  text-decoration-color: white;
  color: darkblue;
}

.image-selections {
  display: flex;
  flex-flow: row wrap;
}

.image {
  width: 30%;
  height: auto;
  display: flex;
  flex-flow: column;
  margin: 16px auto;
  padding-bottom: 1rem;
}

.column img {
  width: 600px;
  height: auto;
  padding: 20px;
}

/*Footer*/
footer {
  background-color: black;
  color: white;
  padding: 30px;
  text-decoration: underline;
  text-decoration-color: black;
}
